<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Rooms - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Rooms</h1>
							<ul id="rooms">
								<li>
									<a href="/rooms"><img src="images/first-class.jpg" alt="Img"></a>
									<h2><a href="/rooms">First Class Room</a></h2>
									<p>Experience luxury in our first-class rooms with premium amenities and stunning views.</p>
								</li>
								<li>
									<a href="/rooms"><img src="images/standard.jpg" alt="Img"></a>
									<h2><a href="/rooms">Standard Room</a></h2>
									<p>Comfortable and affordable accommodation perfect for your travel needs.</p>
								</li>
								<li>
									<a href="/rooms"><img src="images/suite.jpg" alt="Img"></a>
									<h2><a href="/rooms">Suite</a></h2>
									<p>Spacious suites offering extra comfort and space for families or extended stays.</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
			<p>
				© 2023 by Travlr Getaways. All Rights Reserved
			</p>
		</div>
	</div>
</body>
</html>